html {
  box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Nunito Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  overflow-y: auto;
  flex-direction: column;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-weight: bolder;
  font-weight: 300;
  padding-top: 10px;
}

.bar {
  opacity: 0.2;
  margin: 0 10px;
}

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.deck .card {
  height: 130px;
  width: 130px;
  background: url("../img/memory_card.png");
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.udacity-logo {
    height: 50px;
}

.deck .card.open {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}
.deck .card.show {
  font-size: 33px;
}
.deck .card.match {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}
.deck .card.notmatch {
  background: #f95c3c;
}

.score-panel {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 400px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  cursor: pointer;
}

.score-panel .restart i{
  position: absolute;
  opacity: 0.2;
  font-size: 40px;
  margin: -10px 0 0 -15px;
}

/* SweetAlert configuration */

.swal2-container.swal2-shown {
  background-color: white;
}

.udacity-logo-mobile {
  display: none;
}

@media only screen and (max-width: 600px){
  .deck {
    width: 90%;
    min-height: 500px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .deck .card {
    height: 100px;
    width: 100px;
    background: url("../img/memory_card_mobile.png");
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }

  .score-panel .stars {
    margin-right: 40px;
    padding: 0;
    display: inline-block;
  }

  .score-panel {
    text-align: center;
    width: 100%;
    line-height: 50px;
    margin: 10px 0;
  }

  .score-panel .restart i {
    margin: 0 0 0 -15px;
  }
}

@media only screen and (max-width: 460px) {
  .udacity-logo {
    display: none;
  }
  .udacity-logo-mobile {
    position: absolute;
    display: block;
    width: 90px;
    top: 40px;
    opacity: 0.2;
  }
  .deck {
    width: 90%;
    min-height: 400px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .deck .card {
    height: 75px;
    width: 75px;
    background: url("../img/memory_card_mobile.png");
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }

  .score-panel .stars {
    margin-right: 40px;
    padding: 0;
    display: inline-block;
  }

  .score-panel {
    text-align: center;
    width: 100%;
    line-height: 50px;
    margin: 10px 0;
  }

  .score-panel .restart i {
    margin: 0 0 0 -15px;
  }
}